

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');

:root{
    --green1: #94CB93;
    --green2: #3A8638;
    --green3: #0D5F0C;
    --red1: #F5CDCD;
    --red2: #C23231;
    --red3: #931413;
    --yellow: #F2E518;
    --yellow1: #FFFB8C;
    --light: #fff;
    --dark: #000000;
}

/* ALL */
body{
    font-family: "IBM Plex Sans", sans-serif;
}

/* search highlight */
mark{
  background: var(--light);
  padding: 0 .1rem;
  border-radius: 5px;
}

/* links */
a{
    color: var(--red3);
    text-decoration: none;
    padding: 0 .25rem;
    border-radius: 2px;
}

a:focus {
  color: var(--red2);
  padding: 0 .25rem;
  text-decoration: underline;
}

a:hover{
  color: var(--red2);
  padding: 0 .25rem;
  text-decoration: underline;
}

a:active {
  color: var(--red2);
  padding: 0 .25rem;
  text-decoration: underline;
}
/* SEARCH BAR & LOGO & PRINT*/
header{
  background: var(--green1);
  margin: 0;
  padding: 1rem;
  padding-bottom: 0;
}

 /* logo img*/
.wrap .logo{
    width: 100px;
    margin: 0 1rem 1rem 0;
}
.wrap img{
    width: 100%;
    border-radius: 50%;
    border: 3Cpx solid var(--light);
  }
  
  /* search bar */
  .searchTerm {
    /* border: 3px solid var(--green2); */
    border: none;
    padding: 5px;
    height: 1.5rem;
    border-radius: 10px;
    color: var(--green1);
    width: 15rem;
  }
  .searchTerm:focus{
    color: var(--green2);
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  } 
  
  /* search bar + logo */
  .wrap{
    display: flex;
    margin: 0 1rem;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;
  }

/* buttons */
/* removes default button styling */
button {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.link i.material-icons{
    text-decoration: none;
}
.searchButton, .link i.material-icons{
    /* border: 3px solid var(--green2); */
    border-radius: 10px;
    padding: 0 .25rem;
    margin-left: .75rem;
    color: var(--green2);
    background: var(--light);
    outline: none;
}
.link i.material-icons{
  padding: .25rem;
  margin-left: .5rrem;
  display: flex;
}
.searchButton:link, .link i.material-icons:link{
    background: var(--green2);
    color: var(---light);
}

.searchButton:focus, .link i.material-icons:focus{
    background: var(--green2);
    color: var(--light);
}

.searchButton:hover, .link i.material-icons:hover{
    background: var(--green2);
    color: var(--light);
}
.link a:hover{
  text-decoration: none;
}

.searchButton:active, .link i.material-icons:active{
    background: var(--green2);
    color: var(--light);
}


/* NAVIGATION */
nav{
  background: var(--green2);
  color: var(--light);
  padding: 1rem 0;
}
.filters{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap:wrap;
  font-size: 1.5rem;
  font-weight: 600;
}
p{
  margin: 0 .25rem;
  padding: .5rem;
}
.filters button{
	color: var(--light);
	text-decoration: none;
	padding: .25rem;
	margin: 0 .25rem;
  border: none;
  background: transparent;
	justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* border-bottom: 3px solid var(--green2); */
}

.filters button:link{
  background: var(--light);
  color: var(--green2);
}

.filters button:focus {
  background: var(--light);
  color: var(--green2);
  outline: none;
}

.filters button:hover {
  background: var(--light);
  color: var(--green2);
} 

.filters button:active {
  background: var(--light);
  color: var(--green2);
}


/* BUSINESSES LIST */
.content h2{
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  font-family: "IBM Plex Sans";
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark);
}
.content{ 
  margin: 1rem;
  padding: 0 1.25rem 1.25rem 1.75rem;
  border-radius: 15px;
  border: 3px solid var(--red1);
  background: var(--red1);
  max-width: 18rem;
}
.container{
  margin: 2rem 3rem 2rem 3rem;
}
.content p{
  padding: 0 0 .5rem 0;
  margin: 0;
}
section{
  flex-wrap: wrap;
  }

.label{
  font-weight: 600;
}
tr{
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
}
td{
  padding-right: .75rem;
};



/* MEDIA QUERIES */

/* mobile screens */

@media screen and (max-width: 500px) {
	#stuff .filters{
    font-size: 1rem;
  }
  .content .real{
    padding: 0 .5rem .5rem .5rem;
    
  }
  .container{
    font-size: .75rem;
    margin: 2rem 3rem 2rem 7rem;
  }
}
