

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');

:root{
    --green1: #94CB93;
    --green2: #3A8638;
    --green3: #0D5F0C;
    --red1: #F2A6A6;
    --red2: #C23231;
    --red3: #931413;
    --yellow: #F2E518;
    --yellow1: #FFFB8C;
    --light: #fff;
    --dark: #000000;
}

/* ALL */
body{
    font-family: "IBM Plex Sans", sans-serif;
}

a{
    color: var(--red3);
    text-decoration: none;
    padding: 0 .25rem;
    border-radius: 2px;
}

a:focus {
  text-decoration: underline;
}

a:hover{
  color: var(--red1);
  padding: 0 .25rem;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
/* SEARCH BAR & LOGO*/
.wrap .logo{
    width: 100px;
    margin: 0 1rem 1rem 0;
}

.wrap img{
    width: 100%;
    border-radius: 50%;
    
  }
  
  .searchTerm {
    border: 3px solid var(--green2);
    padding: 5px;
    height: 1.5rem;
    border-radius: 5px;
    color: var(--green1);
    width: 15rem;
  }
  .searchTerm:focus{
    color: var(--green2);
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .wrap{
    display: flex;
    margin: 1rem;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;

  }
.link a{
    text-decoration: none;
    color: var(--green2);
}
.link{
    border: 3px solid var(--green2);
    border-radius: 5px;
    padding: .75rem;
    margin-left: .75rem;
}
.link:link{
    background: var(--green1);
    color: black;
}

.link:focus {
    background: var(--green1);
}

.link:hover{
    background: var(--green1);
    color: black;
}

.link:active {
    background: var(--green1);
}


/* NAVIGATION */
nav{
  background: var(--yellow);
  color: var(--dark);
  padding: 1rem 0;
}
.filters{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap:wrap;
  font-size: 1.5rem;
  font-weight: 600;
}
p{
  margin: 0 .25rem;
  padding: .5rem;
}
button{
	color: var(--dark);
	text-decoration: none;
	padding: .5rem;
	margin: 0 .25rem;
  border: none;
  background: transparent;
	justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.filters button:link{
	background: var(--yellow1);
}

.filters button:focus {
	background: var(--yellow1);
}

.filters button:hover {
	background: var(--yellow1);
}

.filters button:active {
background: var(--yellow1);
  border-radius: 5px;
}


/* BUSINESSES LIST */
.content h2{
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  font-family: "IBM Plex Sans";
  font-size: 1.5rem;
  font-weight: 500;
}
.content{ 
  margin: 1rem;
  padding: 0 1.25rem 1.25rem 1.75rem;
  border-radius: 15px;
  border: 3px solid var(--red2);
  background: white;
  max-width: 18rem;
}
.container{
  margin: 2rem 3rem 2rem 5rem;
}
.content p{
  padding: 0 0 .5rem 0;
  margin: 0;
}
section{
  flex-wrap: wrap;
  }

.label{
  font-weight: 600;
}
tr{
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
}
td{
  padding-right: .75rem;
};



/* MEDIA QUERIES */

/* mobile screens */
@media screen and (max-width: 500px) {
	.filters{
    font-size: 1rem;
  }
  .content{
    padding: 0 .5rem .5rem .5rem;
  }
  .container{
    font-size: .75rem;
  }
}
